<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawingHomeworkSuper02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAAC26A41E7D1DAC007A516F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAC26BD1E7D1DAD007A516F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAAC26C81E7D1DAD007A516F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
